<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Contacto
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel="stylesheet", href="css/index.css")
        link(rel='shortcut icon', href='img/stormtrooper.ico', type='image/x-icon')
    body
        .container    
            ul.nav.mt-3
                li.nav-item
                    a(href='/')
                        img#logo(src="img/logo1.png", alt="Logo")
                li.nav-item
                    a.nav-link(href='people') Personajes
                li.nav-item
                    a.nav-link(href='planet') Planetas
                li.nav-item
                    a.nav-link(href='vehicle') Vehículos
                li.nav-item
                    a.nav-link(href='contacto') Contacto
            h1.text-center.mt-5 Contacto
            .container.mt-5
                form#contact
                    .row
                        .col
                            input#name.form-control(type='text', placeholder='Nombre')
                        .col
                            input#email.form-control(type='email', placeholder='Correo')
                    form.-group.mt-2
                        label#comments(for='#areacomments') Comentarios
                        textarea#areacomments.form-control(rows='6')   
                .container#button
                    button#btAdd.btn.btn-success.mt-3(type='submit') Enviar
            .container#pixelart.mt-0
                img#pixelart(src="img/pixelart6.gif", alt="gif")
        script(src="js/contacto.js")
        script(src=' https://unpkg.com/sweetalert/dist/sweetalert.min.js ')