<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Personajes
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel="stylesheet", href="css/index.css")
        link(rel='shortcut icon', href='img/stormtrooper.ico', type='image/x-icon')
    body#personajes
        .container
            ul.nav.mt-3
                li.nav-item
                    a(href='/')
                        img#logo(src="img/logo1.png", alt="Logo")
                li.nav-item
                    a.nav-link(href='people') Personajes
                li.nav-item
                    a.nav-link(href='planet') Planetas
                li.nav-item
                    a.nav-link(href='vehicle') Vehículos
                li.nav-item
                    a.nav-link(href='contacto') Contacto
            h1.text-center.mt-5 Personajes
            .container.table-responsive.mt-5
                table.table.text-center
                    thead
                        tr
                            th(scope='col') 
                                img#tableimg(src="img/Leia.png", alt="Logo")
                            th(scope='col') Nombre
                            th(scope='col') Género
                            th(scope='col') Altura (cm)
                            th(scope='col') Peso
                            th(scope='col') Color de ojos
                            th(scope='col') Eliminar
                    tbody#tbody
            .container#button
                input#button2.btn.btn-success.d-none(type='reset', value='Volver a cargar Personajes')
        script(src='https://code.jquery.com/jquery-3.4.0.min.js')
        script(src="js/people.js")
        